:{$VITE_PREVIEW_PORT} {
  root * /usr/share/caddy
  encode gzip zstd

  @assets path /assets/*
  handle @assets {
    header Cache-Control "public, max-age=31536000, immutable"
    file_server
  }
  handle {
    try_files {path} /index.html
    file_server
  }
}